/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [person_id]
      ,[sequence]
      ,[device_id]
      ,[active]
      ,[carrier]
      ,[brand]
      ,[model]
      ,[os_type]
      ,[os_version]
      ,[activation_dttm]
      ,[last_init_dttm]
      ,[last_sync_dttm]
      ,[client_version]
      ,[last_init_duration]
   
  FROM [IFSFSMPROD].[dbo].[person_mobile]