/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [person_id]
      ,[user_role]
     
      ,[modified_by]
      ,[modified_dttm]
      ,[created_by]
      ,[created_dttm]
  FROM [IFSFSMPROD].[dbo].[person_role]